@import 'variables';
@import 'mixins';

.catalog {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow;
    background-color: $grey-primary-color;

    &Grid {
        display: grid;
        grid-template-columns: repeat(7, 0fr);
        color: $grey-primary-color;
        justify-content: center;
    }
}