@import 'variables';
@import 'mixins';

.review-text {
    font-family: $font-proxima-nova-semibold;
    font-size: 50px;
    color: $grey-primary-color;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.container {
    width: 100%;
    height: 750px;
    background-color: $grey-gradient;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Text {
    @extend .review-text;
    text-align: center;
}

.slider-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 880px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    margin: 0 9px;
    flex-shrink: 0;
}

.swipe {
    width: 70px;
    height: 70px;
}

.review {
    width: 275px;
    height: 487px;
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $grey-secondary-color;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.indicator.active {
    background-color: $blue-primary-color;
}


//media 900
@media (max-width: 900px) {
    .slider-container {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 400px;
    }

    .review-text {
        font-family: $font-proxima-nova-semibold;
        font-size: 35px;
        color: $grey-primary-color;
        text-transform: uppercase;
        margin-bottom: 38px;
    }

    .container {
        width: 100%;
        height: 500px;
        background-color: $grey-gradient;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}













