@import 'variables';
@import 'mixins';

.buttons {
    display: flex;
    gap: 22px; 
    justify-content: center;
    margin-top: 14px;
    margin-bottom:22px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 48px;
    background-color: $blue-primary-color;
    color: $white-color;
    font-family: $font-proxima-nova-semibold;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color $transition;

    &:hover {
        background-color: darken($blue-primary-color, 10%);
    }

    p {
        margin: 0;
    }
}
