@import 'variables';
@import 'mixins';

.imageStack {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: auto;
}

.upperImage,
.lowerImage {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.lowerImage {
  z-index: 2;
  margin-top: -10px;
}