@import 'variables';
@import 'mixins';


.header {
    position: sticky;
    z-index: 10;
    top: -1px;
    margin: 1px 0 80px 0;
    height: 48px;
    background: $grey-primary-color;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart {
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    &WrapImage {
        position: relative;
        width: 24px;
        height: 24px;
        transition: $transition;
    }

    &Icon {
        position: relative;
        margin-right: 12px;

        &Badge {
            position: absolute;
            top: -1px;
            right: -5px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: $hover-color;
            color: $white-color;
            font-family: $font-proxima-nova-light;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 11px;
            text-align: center
        }
    }

    &Text {
        display: flex;
        flex-direction: column;

        &Title {
            color: $black-color;
            font-family: $font-proxima-nova-light;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: normal;
            text-transform: uppercase;
            transition: $transition;

            &:hover {
                color: $hover-color;
            }
        }

        &Count {
            @include desc-text;
            // width: 160px;
            height: 18px;
        }
    }
}

.media {
    display: flex;
    align-items: center;
    cursor: pointer;

    &WrapImage {
        position: relative;
        width: 22px;
        height: 22px;
        margin-right: 16px;
        transition: $transition;
    }

    &Wrap {
        display: flex;
        flex-direction: column;
    }

    &:hover {
        .WrapImage {
            color: $hover-color;
        }
    }

    &Time {
        @include desc-text;
    }
}
