@import 'variables';
@import 'mixins';


.header {
    position: sticky;
    z-index: 10;
    top: 1px;
    padding: 14px 0 36px;
    height: 48px;
    background: $grey-primary-color;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart {
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    &WrapImage {
        position: relative;
        right: -40px;
        width: 24px;
        height: 24px;
        transition: fill $transition;

        &:hover {
            fill: $hover-color;
        }
    }

    &Icon {
        position: relative;
        margin-right: 12px;

        &Badge {
            position: absolute;
            top: -1px;
            right: -45px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: $hover-color;
            color: $white-color;
            font-family: $font-proxima-nova-light;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 11px;
            text-align: center
        }
    }

    &Text {
        display: flex;
        flex-direction: column;

        &Title {
            color: $black-color;
            font-family: $font-proxima-nova-light;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: normal;
            text-transform: uppercase;
        }

        &Count {
            @include desc-text;
            height: 18px;
        }
    }
}

.media {
    display: flex;
    align-items: center;
    cursor: pointer;

    &WrapImage {
        position: relative;
        right: 20px;
        width: 22px;
        height: 22px;
        margin-right: 16px;
        transition: fill $transition;
    }

    &Wrap {
        display: flex;
        flex-direction: column;
    }

    &:hover {
        .WrapImage {
            fill: $hover-color;
        }
    }

    &Time {
        @include desc-text;
    }
}

.phone {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $white-color;
    font-family: $font-proxima-nova-light;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: normal;
    text-transform: uppercase;
    transition: color $transition;
    position: relative;
    left: -90px;

    &:hover {
        color: $hover-color;
    }
}
