@import 'variables';

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .indicatorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .indicator {
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0 20px;
    cursor: pointer;
  }
  
  .indicatorText {
    font-family: $font-proxima-nova-light;
    color: $grey-secondary-color;
    font-size: 18px;
  }

