@import 'variables';
@import 'mixins';

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px 0 36px;
    background: $grey-primary-color;
    margin-top: 0;
    height: 90px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 196px;
}

.logo {
    position: relative;
    width: 174px;
    height: 50px;
}

.phone {
    display: flex;
    flex-direction: column;

    &>a {
        color: $white-color;
        font-family: $font-proxima-nova-light;
        font-size: 13px;
        font-style: normal;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: normal;

        &:hover {
            color: $hover-color;
        }
    }
}

.address {
    color: $white-color;
    font-family: $font-proxima-nova-light;
    font-size: 13px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: normal;

    &:hover {
        color: $hover-color;
    }
}

.company {
    color: $white-color;
    font-family: $font-proxima-nova-light;
    font-size: 13px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: normal;
}

.allignText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 44px;
}




//media 900
@media (max-width: 900px) {
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 24px 0 36px;
        background: $grey-primary-color;
        margin-top: 0;
        height: 90px;
    }
    
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 66px;
    }
    
    .logo {
        position: relative;
        width: 116px;
        height: 34px;
    }
    
    .phone {
        display: flex;
        flex-direction: column;
    
        &>a {
            color: $white-color;
            font-family: $font-proxima-nova-light;
            font-size: 9px;
            font-style: normal;
            font-weight: 100;
            letter-spacing: 1px;
            line-height: normal;
    
            &:hover {
                color: $hover-color;
            }
        }
    }
    
    .address {
        color: $white-color;
        font-family: $font-proxima-nova-light;
        font-size: 9px;
        font-style: normal;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: normal;
    
        &:hover {
            color: $hover-color;
        }
    }
    
    .company {
        color: $white-color;
        font-family: $font-proxima-nova-light;
        font-size: 9px;
        font-style: normal;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: normal;
    }
    
    .allignText {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
}