@import 'variables';
@import 'mixins';

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px 0 36px;
    background: $grey-primary-color;
    margin-top: 0;
    height: 90px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

.logo {
    position: relative;
    width: 174px;
    height: 50px;
    margin-left: 60px;
    margin-right: 196px;
}

.phone {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: -120px;

    &>a {
        color: $white-color;
        font-family: $font-proxima-nova-light;
        font-size: 13px;
        font-style: normal;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: normal;

        &:hover {
            color: $hover-color;
        }
    }
}

.address {
    color: $white-color;
    font-family: $font-proxima-nova-light;
    font-size: 13px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: normal;
    margin-right: -120px;

    &:hover {
        color: $hover-color;
    }
}

.company {
    color: $white-color;
    font-family: $font-proxima-nova-light;
    font-size: 13px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: normal;
}