@import 'variables';

.container {
    width: 100%;
    height: 780px;
    background: linear-gradient(to top, $grey-gradient, $white-color);
}

.photo {
    width: 1024px;
    height: 720px;
    margin: 0 auto;
    margin-top: 64px;
}
