@import 'variables';
@import 'mixins';

.secondheader {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 0 90px;
    background: $white-color;
    height: 90px;
    text-align: center;
}

.wrapper {
display: flex;
align-items: center;
justify-content: flex-start;
}

.logo {
position: relative;
width: 216px;
height: 62px;
margin-left: 160px;
margin-right: 564px;
}

.director {
position: relative;
width: 64px;
height: 64px;
border-radius: 50%;
overflow: hidden;
border: 1px solid $grey-primary-color;
display: flex;
align-items: center;
justify-content: center;
margin-right: 14px;
}

.director img {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: none; 
    max-height: none;
}

.description {
    display: flex;
    align-items: center;
    margin-left: 14px;

    &Wrap {
        display: flex;
        flex-direction: column;
    }

    &Name {
        color: $grey-primary-color;
        font-family: $font-proxima-nova-light;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;
    }

    &Contact {
        color: $blue-primary-color;
        font-family: $font-proxima-nova-light;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: normal;
        text-transform: lowercase;
        text-decoration: underline;
        text-align: left;
        transition: $transition;

        &:hover {
            color: $gradient-blue-color;
        }
    }

    &Time {
        @include desc-text;
    }
}
