@import 'variables';
@import 'mixins';

.longAdContainer {
    width: 100%;
    height: 48px;
    background-color: $blue-primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .adText {
    color: $white-color;
    font-family: $font-proxima-nova-light;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

}
